@model EmlakPortal2.ViewModel.ilanModel
<br />
<h2>Yeni İlan</h2>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ilanKayit", "Admin", FormMethod.Post))
        {
            @Html.LabelFor(k => k.ilanAdi)<br />
            @Html.TextBoxFor(k => k.ilanAdi, new { @class = "form-control" })
            @Html.ValidationMessageFor(k => k.ilanAdi, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(k => k.ilanYer)<br />
            @Html.TextBoxFor(k => k.ilanYer, new { @class = "form-control" })
            @Html.ValidationMessageFor(k => k.ilanYer, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(k => k.m2)<br />
            @Html.TextBoxFor(k => k.m2, new { @class = "form-control" })
            @Html.ValidationMessageFor(k => k.m2, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(k => k.fiyat)<br />
            @Html.TextBoxFor(k => k.fiyat, new { @class = "form-control" })
            @Html.ValidationMessageFor(k => k.fiyat, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(k => k.foto)<br />
            @Html.TextBoxFor(k => k.foto, new
            {
                type = "file",
                @class = "form-control"
            })
            @Html.ValidationMessageFor(k => k.foto, null, new
            {
                @class = "text-danger"
            })<br />


            <br /><br />

            <input type="submit" value="Kaydet" class="btn btn-success" />
            <br />
            if (ViewBag.sonuc != null)
            {
                <div class="alert alert-success">@ViewBag.sonuc</div>
            }
        }

    </div>
</div>
